<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      KillerApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="assets/wrightbrothersplane3.jpg">

  <div id="container-md">
      <ion-row>
        <ion-col>
          <ion-card>
             <ion-card-header>
             <ion-card-title>Killer App Login</ion-card-title>
           </ion-card-header>
       <ion-card-content>
        <ion-button expand="block" class="btn btn-success"><a href="/login">Login</a></ion-button>
         <br/>
         <p>Already have an account then login here </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
   <ion-row>
        <ion-col>
          <ion-card>
             <ion-card-header>
             <ion-card-title>Signup</ion-card-title>
           </ion-card-header>
       <ion-card-content>
        <ion-button expand="block" class="btn btn-success"><a href="/signup">Signup</a></ion-button>
        <br/>
        <p>Already have an account then login here </p>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
 </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Copy Right @ Killer</ion-title>
  </ion-toolbar>
</ion-footer>
